<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ISign Login</title>
</head>
<body>

<form name="sendForm" method="post">
    <input type="hidden" name="agentId" th:value="${agentId}" />
    <input type="hidden" name="errCode" th:value="${resultCode}" />
    <input type="hidden" name="secureSessionId" th:value="${secureSessionId}" />
</form>

<script>
    var sendUrl = "[[${returnUrl}]]";
    var sendForm = document.sendForm;
    sendForm.action = sendUrl;
    sendForm.submit();
</script>

</body>
</html>